0,2,7,8,9"ApCt"
1,6"Ap"
3,4"ApCtSk"
11"CtIiRrSk"
12"Wx"
13"CtIbIi"
14"CtSkSo"
15,211,225,325,439"CtSk"
16"BoCtEtGsIs(Ll|IxTo)(Ar|Sa)(Dx|EcWx)(Fs|Fc)(I5I6I7I8|BsBlBz(I5(I6|I7|I8)|I6(I7|I8)|I7I8))"
17"BlCt"
18,20,25,26,27"BpCt"
19,24"Bp"
21,22"BpCtSk"
29"CtSk(Bw|Sh)"
30"Ct(Ap|Bp|Dp|Op|Jp|Sp)(Bw|Sh)"
31,63"Wb"
32"Bw|Sh"
33,65,288,326"Ct"
34,66,152,153"CtGs"
35"BgCt"
36,68"CtTc"
38"(Bu|Dx|EcWx)(Fs|Fc)(Is|Bo(Ar|Sa))"
39"CtSk(Uw|Sh(Ll|IxTo))"
40"Ct(Ap|Bp|Dp|Op|Jp|Sp)(Uw|Sh(Ll|IxTo))"
41"Wb(Ll|IxTo)"
42"Uw|Sh(Ll|IxTo)"
43,226"Ct(Ll|IxTo)"
44"CtPc"
45"CtGs(Ll|IxTo)"
46"CtUg"
47"CtTc(Ll|IxTo)"
48"Ll|IxTo"
49,442"BmCt"
50"Sd|Bo(Ar|Sa)"
51"Bb"
52"Pp"
53"BkCt(Ap|Bp|Dp|Op|Jp|Sp)"
54,147"CtSkWd"
55,74,440"Ct(Ap|Bp|Dp|Op|Jp|Sp)"
56,91,191"Ct(Ho|Wh)"
57"CtWx(Bu|Dx|Ec)(Fs|Fc)(Is|Bo(Ar|Sa))"
58,59"BrCt"
60"B0"
61"CtSk(Nw|Sh)"
62"Ct(Ap|Bp|Dp|Op|Jp|Sp)(Nw|Sh)"
64"Nw|Sh"
67"CtNg"
70,73,196,197,198,199,200,201,205,290"CtIi"
71"BuCtSg(Ho|Wh)"
72"Fr"
75"R9Cm|Ch(Mc|R9(Fm|Hm|Tm))"
76"Qs"
77"Ra"
78"Sn"
79"Sr"
82"Cb"
83"Ct(Wx|Co)"
85,86,87,150"CtWx"
88"CtRr(Qz|Wx(Bu|Dx|Ec)(Fs|Fc))(St|Et(LlWx|IxTo))"
89"CtIi(Re|IxTo)"
90"CtFrMp"
92,418"(Ap|Bp|Dp|Op|Jp|Sp)"
93"Rs"
94"Ss|Wx"
95"CtSk(Cw|CdSh)"
96"Ct(Cw|CdSh)(Ap|Bp|Dp|Op|Jp|Sp)"
97"CdWb"
98"Cw|CdSh"
99"CdCt"
101"CdCtGs"
102"CgCt"
103"CdCtTc"
104"Cd"
105,107,112,113,114"CtDp"
106,111"Dp"
108,109"CtDpSk"
116,347"CtL6Sd(BsGlBzFr(Bu|Dx|EcWx)(Fs|Fc)|Et(Ll|IxTo))"
117,118"CtDa"
119"CtGsS6(Qz|Wx(Bu|Dx|Ec)(Fs|Fc))"
120"CtIiSu(Re|IxTo)"
121"Db"
122,127,129,130,131"CtSk(Di|IxTo)"
123,124,125,126,128"Ct(Di|IxTo)"
132"Wx(Qz|(Bu|Dx|Ec)(Fs|Fc))"
133"BoCt(Re|IxTo)"
134"Kb"
135"CtKd"
136"CtWx(Re|IxTo)"
137"Eb"
138"Ct(Em|IxTo)"
139"BkCt(DiEcWx|DxTo)"
140"CtEeGsBo(Ar|Sa)(Bu|Dx|EcWx)(Fs|Fc)"
141"Pf(Bu|Dx|EcWx)(Fs|Fc)(Is|Bo(Ar|Sa))"
142"EeToWx(Sd|Bo(Ar|Sa))"
143"CtEe(DxTo|EcWx)"
144"BzSd"
145"SgWd"
146"BzSd(Ca|Co|Wx)"
148,192,206,210,398"Ii"
149"B0Ct"
151"R9Fm|Fu(Mc|R9(Cm|Hm|Tm))"
154,158,163"CtGn"
155"Gt|(Bu|Dx|EcWx)(Fs|Fc)"
156,160,162,164,165,167"CtGi"
157"Gb"
159,260"Gi"
161,166,168,169,170"CtGiSk"
171"(Do|Wx)(Qz|(Bu|Dx|EcWx)(Fs|Fc))"
172"CtSk(Aw|AdSh)"
173"Ct(Aw|AdSh)(Ap|Bp|Dp|Op|Jp|Sp)"
174"AdWb"
175"Aw|AdSh"
176"AdCt"
177,153"Bm"
178"AdCtGs"
179"AgCt"
180"AdCtTc"
181"Ad"
182"CtSk(Ew|CcSh)"
183"Ct(Ew|CcSh)(Ap|Bp|Dp|Op|Jp|Sp)"
184"CcWb"
185"Ew|CcSh"
186"CcCt"
187"CcCtGs"
188"CtEg"
189"CcCtTc"
190"Cc"
193"ChCtIi"
194"R9Hm|Hp(Mc|R9(Cm|Fm|Tm))"
195,202,207,208,209,371"CtIiSk"
203"Ib"
204"CtIn"
212"ShTo"
213"Ct(Di|IxTo)(Ap|Bp|Dp|Op|Jp|Sp)"
214,216,221,222,223"CtJp"
215,220"Jp"
217,218"CtJpSk"
227"Lb"
228"CtWd(Sl|To)"
230,231,232,233"Ct(Ho|Lr|Wh)"
234"SkWx"
235"CtSk(Uo|UdSh)"
236"Ct(Uo|UdSh)(Ap|Bp|Dp|Op|Jp|Sp)"
237"UdWb"
238"Uo|UdSh"
239"CtUd"
241,277"Bm(Ll|IxTo)"
242"CtGsUd"
243"CtUs"
244"CtTcUd"
245"Ud"
246"CtSk(Zw|Sh)"
247"Ct(Zw|Sh)(Ap|Bp|Dp|Op|Jp|Sp)"
248"WbZd"
249"Zw|Sh"
250"CtZd"
252"AdBm"
256"CtGsZd"
257"CtZg"
258"CtTcZd"
259"Zd"
261"CtSk(Lw|LdSh)"
262"Ct(Lw|LdSh)(Ap|Bp|Dp|Op|Jp|Sp)"
263"LdWb"
264"Lw|LdSh"
265"CtLd"
266"BmCc"
267"CtGsLd"
268"CtLg"
269"CtLdTc"
270"Ld"
271"CtSk(Mw|MdSh)"
272"Ct(Mw|MdSh)(Ap|Bp|Dp|Op|Jp|Sp)"
273"MdWb"
274"Mw|MdSh"
275"CtMd"
278"RdKy(Ll|IxTo)"
280"KyPd"
281"CtGsMd"
282"CtMg"
283"CtMdTc"
284"Md"
285"Ma|Sd(Bu|Dx|EcWx)(Fs|Fc)"
286"Bz(Sl|Wd)"
287"CpCtPp"
289"Ml|Et(AxLl|Ix)"
291"ShWx"
292"Ct(Mb|SxSdTo)"
293"BrSh"
294"Bl"
295,296,297"Ct(Ns|Wx(Bu|Dx|Ec)(Fs|Fc))"
298"Nb"
299"Ct(Bu|Dx|EcWx)(Fs|Fc)"
300"Ct(Re|IxTo)(Ap|Bp|Dp|Op|Jp|Sp)"
301,303,308,309,310"CtOp"
302,307"Op"
304,305"CtOpSk"
312"(ReWx|IxTo)(Qz|(Bu|Dx|Ec)(Fs|Fc))"
313"CtSk(Ow|OdSh)"
314"Ct(Ow|OdSh)(Ap|Bp|Dp|Op|Jp|Sp)"
315"OdWb"
316"Ow|OdSh"
317"CtOd"
319"RdYd"
320"CtGsOd"
321"CtOg"
322"CtOdTc"
323"Od"
324"CtEt(LlWx|Ix)"
327"CtSk(Kw|KySh)"
328"Ct(Kw|KySh)(Ap|Bp|Dp|Op|Jp|Sp)"
329"KyWb"
330"Kw|KySh"
331"CtKy"
334"BmRd"
335"CtGsKy"
336"CtKg"
337"CtKyTc"
338"Ky"
339"CtIi(ReWx|IxTo)(Ap|Bp|Dp|Op|Jp|Sp)"
340"An|Wx"
341"Do|Wx"
342"Ga|Wx"
343"CtGiSk(Re|IxTo)"
344,397"L6Sd(BsGlBzFr(Bu|Dx|EcWx)(Fs|Fc)|Et(Ll|IxTo))"
345,346"CtPb"
348,349"CtPr"
350"Sg"
352"CtSk(Pw|PdSh)"
353"Ct(Pw|PdSh)(Ap|Bp|Dp|Op|Jp|Sp)"
354"Pw|PdSh"
355"CtPd"
356"LlRd"
357"CtGsPd"
358"CtPg"
359"CtPdTc"
360"Pd"
361"Pf"
362"Ps"
363,364"CtPu"
365"Qz|Wx(Bu|Dx|Ec)(Fs|Fc)"
366"Qb"
367,368"CtQb"
369,370"BaBlCtRc"
372"CtSk(Rw|RdSh)"
373"Ct(Rw|RdSh)(Ap|Bp|Dp|Op|Jp|Sp)"
374"RdWb"
375"Rw|RdSh"
376"CtRd"
381"Nb(Bu|Dx|EcWx)(Fs|Fc)"
383,384"CtRs"
385"CtGsRd"
386"CtRg"
387"CtRdTc"
388"Rd"
389"Rk"
390"Ct(Re|IxTo)"
391"Ct(Re|IxTo)(Gt|Et(Bu|Dx|Ec)(Fs|Fc)(LlWx|IxTo))"
392"Sk(Re|IxTo)"
393"CtRr(Re|IxTo)(St|Et(LlWx|IxTo))"
395,396"Ct(Ss|Wx)"
399"CtIi(Ap|Bp|Dp|Op|Jp|Sp)"
400"EeToWx(Is|Bo(Ar|Sa))"
401"CtSk(Ap|Bp|Dp|Op|Jp|Sp)"
402"Sm"
403"Sl|WdTo"
404"Sw"
405"Ws"
406"Ct(Ar|Sd)(Gt|(Bu|Dx|EcWx)(Fs|Fc))"
407,409,414,415,416"CtSp"
408,413"Sp"
410,411"CtSkSp"
419"Pi(Sl|WdTo)"
420,425,426,428,430"CtSkWx"
421,422"CtSb"
423,424,427"St|BkEtFu(LlWx|IxTo)"
429"Ct(St|BkEtFu(LlWx|IxTo))"
432"CtSd"
433"R9Tm|Tt(Mc|R9(Cm|Fm|Hm))"
434"Sk(Ca|Co|Wx)"
435"CtTh(Ap|Bp|Dp|Op|Jp|Sp)"
436"Ii(Ap|Bp|Dp|Op|Jp|Sp)"
437"CtWd"
438"Hb"
443"BmCtGs"
444"CtWg"
445"BmCtTc"
446"Wd"
447,448,449,450,451"CtSk(Ap|Bp|Dp|Op|Jp|Sp)"
452"Bk"
453"CtSk(Yw|YdSh)"
454"Ct(Yw|YdSh)(Ap|Bp|Dp|Op|Jp|Sp)"
455"Yw|YdSh"
456"CtYd"
459"CtGsYd"
460"CtYg"
461"CtTcYd"
462"Yd"
463,466,468,469,481,483,493"Fu|R9Fm"
464"Bt(Fu|R9Fm)"
465"Ut(Fu|R9Fm)"
467"Nt(Fu|R9Fm)"
470"FuEt(LlWx|IxTo)"
471,472,474,475,476"Fu|R9Fm|Fs|Fc|EtWd(Ll|IxTo)"
473,477"(Fr|Bu|Wd)(Fu|R9Fm)|Bu(Fs|Fc|EtWd(Ll|IxTo))"
478"Sb(Fu|R9Fm)"
479"Cr(Fu|R9Fm)"
480,482,490,503"EtIxTo(Fu|R9Fm)"
484"Ix(Fu|R9Fm)"
485"(G9|Gx)(Fu|R9Fm)"
486"At(Fu|R9Fm)"
487"Er(Fu|R9Fm)"
488"SxTo(Fu|R9Fm)"
489"(I9|I8|I7|I6|I5|Is|Ix)(Fu|R9Fm)"
491"Ur(Fu|R9Fm)"
492"Zt(Fu|R9Fm)"
494"Lt(Fu|R9Fm)"
495"Mt(Fu|R9Fm)"
496"(Bu|Dx|EcWx)(Fs|Fc)(Fu|R9Fm)"
496"Ot(Fu|R9Fm)"
498"Kt(Fu|R9Fm)"
499"EeToWx(Is|Bo(Ar|Sa))(Fu|R9Fm)"
500"Pt(Fu|R9Fm)"
501"Et(LlWx|IxTo)(Bu|Dx|Ec)(Fs|Fc)(Fu|R9Fm)"
502"Rt(Fu|R9Fm)"
504"L6L9Is(BsGlBzFr(Bu|Dx|EcWx)(Fs|Fc)|Et(Ll|IxTo))(Fu|R9Fm)"
505"Wx(Fu|R9Fm)"
506"(Cy|Et(LlWs|IxTo))(Fu|R9Fm)"
507"Wt(Fu|R9Fm)"
508"Yt(Fu|R9Fm)"